{{#each model.genders as |gender|}}
  {{#radio-button value=gender.id groupValue=model.user.gender}}
    {{ gender.label }}
  {{/radio-button}}
{{/each}}

{{view "select"
       content=model.relationships
       optionValuePath="content.id"
       optionLabelPath="content.label"
       value=model.user.relationship}}

<div class="occasions">
  <ul class="list">
    {{#each model.occasions as |occasion|}}
      <li>{{ occasion.label }}</li>
    {{/each}}
  </ul>

  <div class="presets">
    {{#each model.occasionPresets as |occasion|}}
      <a href="#" {{action 'selectOccasion' occasion}}>{{ occasion.label }}</a>
    {{/each}}
  </div>
</div>