<p>{{input value=contact.firstName placeholder="First Name"}}</p>
<p>{{input value=contact.lastName placeholder="Last Name"}}</p>

{{#each model.genders as |gender|}}
  {{#radio-button value=gender.id groupValue=contact.gender}}
    {{ gender.label }}
  {{/radio-button}}
{{/each}}

{{view "select"
       content=model.relationships
       optionValuePath="content.id"
       optionLabelPath="content.label"
       value=contact.relationship}}

<div class="occasions">
  <div class="occasion">
    {{#each model.occasions as |occasion|}}
      {{#if occasion.isSelected}}
        <a href="#" {{action 'closeOccasion' occasion}}>x</a>
        <h2>{{ occasion.label }}</h2>
        <p>{{input type="date" value=occasion.date}}</p>
      {{/if}}
    {{/each}}
  </div>

  <div class="presets">
    {{#each model.occasions as |occasion|}}
      {{#unless occasion.isSelected}}
        <a href="#" {{action 'selectOccasion' occasion}}>{{ occasion.label }}</a>
      {{/unless}}
    {{/each}}
  </div>
</div>

<button {{action 'saveContact'}} disabled={{ isInvalid }}>Create</button>