<div class="occasions">
  {{#each occasionCollection as |occasion|}}
    <div class="occasion">
      {{#if occasion.isSelected}}
        {{#if occasion.id}}
          <a href="#" {{action 'deleteOccasion' occasion}}>x</a>
        {{else}}
          <a href="#" {{action 'closeOccasion' occasion}}>close</a>
        {{/if}}
        <h2>{{ occasion.label }}</h2>
        <p>{{input type="date" value=occasion.date}} - {{moment-from-now occasion.date}}</p>
      {{/if}}
    </div>
  {{/each}}

  <div class="presets">
    {{#each occasionCollection as |occasion|}}
      {{#unless occasion.isSelected}}
        <a href="#" {{action 'openOccasion' occasion}}>{{ occasion.label }}</a>
      {{/unless}}
    {{/each}}
  </div>
</div>

<button {{action 'saveOccasions'}} disabled={{unreadyToSave}}>Save</button>