<ol class="breadcrumb">
  {{#each steps as |step|}}
    <li>{{ step.step }}</li>
  {{/each}}

  <div class="pull-right">
    {{#if showPrev}}
      <button {{action 'prev'}} disabled={{disablePrev}}>Previous</button>
    {{/if}}

    {{#if showNext}}
      <button {{action 'next'}} disabled={{disableNext}}>Next</button>
    {{/if}}
    </div>
</ol>

