<ol class="breadcrumb">
  {{#each steps as |step|}}
    <li class="{{if step.isActive 'active'}}">
      {{#if step.isComplete}}
        {{link-to step.step step.route}}
      {{else}}
        {{ step.step }}
      {{/if}}
    </li>
  {{/each}}

  <div class="pull-right">
    {{#if showPrev}}
      <button {{action 'prev'}} disabled={{disablePrev}} class="btn btn-xs">Previous</button>
    {{/if}}

    {{#if showNext}}
      <button {{action 'next'}} disabled={{disableNext}} class="btn btn-success btn-xs">Next</button>
    {{/if}}
    </div>
</ol>

