<h1 id="title">Welcome to Fido</h1>

<nav>
  {{#if session.isAuthenticated}}
    <a href="#" {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    {{link-to 'Login' 'login'}} | {{link-to 'Signup' 'signup'}}
  {{/if}}
</nav>

{{outlet}}
