<article class="page-settings">

  <section class="side-panel">
    <ul class="list-group">
      <li class="list-group-item">{{link-to 'My Account' 'settings.account'}}</li>
      <li class="list-group-item">{{link-to 'Profile' 'settings.profile'}}</li>
      <li class="list-group-item">{{link-to 'Reminders' 'settings.reminders'}}</li>
      <li class="list-group-item">{{link-to 'Billing' 'settings.billing'}}</li>
      <li class="list-group-item">{{link-to 'Purchase History' 'settings.purchase-history'}}</li>
    </ul>
  </section>

  <section class="content">
    {{outlet}}
  </section>

</article>