<article class="page-settings">

  <section class="content">
    {{outlet}}
  </section>

  <aside class="side-panel">
    <ul class="list-group">
      {{#link-to 'settings.account' tagName="li" class="list-group-item"}}
        {{link-to 'Account Info' 'settings.account'}}
      {{/link-to}}

      {{#link-to 'settings.billing' tagName="li" class="list-group-item"}}
        {{link-to 'Subscription' 'settings.billing'}}
      {{/link-to}}

      {{#link-to 'settings.invoices' tagName="li" class="list-group-item"}}
        {{link-to 'Billing History' 'settings.invoices'}}
      {{/link-to}}

      {{#link-to 'settings.notifications' tagName="li" class="list-group-item"}}
        {{link-to 'Notifications' 'settings.notifications'}}
      {{/link-to}}
    </ul>
  </aside>

</article>